# don't change the DATABASE_HOST
# db is the name of the service that is running our database
DATABASE_HOST = "db"
DATABASE_PORT = db_port
DATABASE_NAME = "db_name"
DATABASE_USER = "postgres_user"
DATABASE_PASS = "postgres_strong_password"
# True for dev env
PROJECT_DEBUG = False
API_HOST = "0.0.0.0"
API_PORT = 8000
SECRET_KEY="your secret key"
API_KEY = "you api key"
ALLOWED_HOSTS = "127.0.0.1"